html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; padding:0px
}
ol, ul {

}
li{list-style: none}
a {
  text-decoration:none !important;
  cursor: pointer;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.block{ display: block}
.col-center{max-width: 1170px; margin: auto ;position: relative}
.pad10{ padding: 10px}
.text-center{text-align: center}
.hide{ display: none}
.text-transform{text-transform: uppercase}
.fright{ float: right !important}
hr{ color: #555}
.he1{ height: 10px;clear: both}
.he2{ height: 20px;clear: both}
a:hover{ text-decoration: none !important}
body{ margin: 0px; padding: 0px;font-family: 'Roboto Condensed', sans-serif; position: relative}