$c-default: #1ea7d4;
$c-special:#cc3333;
$c-special-tutor:#ff3300;
$c-777: #e0e0e0;
.i-btn{ display: inline-block; width: 115px; height: 40px; color: #fff; text-align: center; border-radius: 4px; line-height: 40px; float: left; border:none}
.i-btn.btn-cart{ background: #cc3333}
.i-btn.btn-view{ background: #0099cc}
.im_relative{ position: relative !important}